body{
    margin: 0; 
    padding: 0;
    background: #19161c;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-image:linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.30)), url(https://cdn.theculturetrip.com/wp-content/uploads/2016/04/black-and-white-alcohol-bar-drinks.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.box{
    position: relative;
}

.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid yellow;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: white;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: black;
    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

/* YouTube icon */
#ytb {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 52px;
  border: 2px solid transparent;
  color: #ff1717;
  font-size: 25px;
  transition: 0.3s;
}

#ytb:hover{
  border-radius: 50%;
  border-color: #ff1717;
  box-shadow: 0 0 10px #ff4040;
}

span {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    display: inline-block;
    text-align: center;
    color: yellow;
    bottom: 0px;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    font-size: 85px;
}



  




